table, th, td {
    border: 1px solid;
  }

body{
    background:black;
}
.form-group label {
  padding: 20px;
  padding-left: 0px;
}
input{
    border:none;
    border-radius: 5px;
}
.list{
    padding:20px 0px;
}
.btn{
  margin-left:20px;
  margin-top:5px;
}
th, td {
  padding: 10px;
  text-align:center;
}
.form-main{
  margin:50px;
}